.submit-btn{
    background-color: rgba(237, 158, 9, 0.811);
    color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.submit-btn:hover{
    background-color: orange;
    transition: 0.8s;
    scale:calc(110%);
}
.text{
    padding: 0.8rem;
}
input{
    padding: 0.3rem;
    width: 15rem;
}